.edit-profile-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0rem;
    border-bottom: 1px solid gray;

    label {
        font-size: 1.8rem;
        font-weight: 700;
    }

    input {
        margin: 2rem 0rem;
        width: 18rem;
    }

    button {
        font-size: 1.5rem;
        padding: 0.7rem 2.5rem;
        border: none;
        outline: none;
        border-radius: 1rem;
        background-color: rgb(230, 230, 230);
    }
}