@import '../../../../scss/colors.scss';

.edit-profile-container {
    position: fixed;
    width: 45rem;
    height: 75%;
    margin-top: 5rem;
    z-index: 101;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .edit-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 45rem;
        padding: 0rem 2.5rem;
        height: 5rem;
        background-color: $redBase;
        border-radius: 3rem 3rem 0rem 0rem;

        p {
            color: #fff;
            padding: 0rem 1rem;
            font-size: 1.5rem;
            font-weight: 700;
        }

        button {
            color: #000;
            padding: 0rem 1rem;
            font-size: 1.5rem;
            font-weight: 700;
            background-color: #fff;
            border: none;
            border-radius: 1.1rem;
            outline: none;
            width: 2.9rem;
            height: 2.9rem;
        }
    }

    .edit-content {
        display: flex;
        flex-direction: column;    
        background-color: rgb(240, 240, 240);
        width: 45rem;
        height: inherit;
        overflow-y: scroll;
        
        .edit-title {
            font-size: 1.8rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        button {
            font-size: 1.5rem;
            padding: 0.7rem 2.5rem;
            border: none;
            outline: none;
            border-radius: 1rem;
            background-color: rgb(230, 230, 230);
            margin: 0.5rem 0rem;
        }

        label {
            font-size: 1.2rem;
        }

        input {
            border: none;
            outline: none;
            border-radius: 2rem;
            width: 25rem;
            height: 2.45rem;
            padding: 0rem 2rem;
        }

        &::-webkit-scrollbar{
            width: 0.8rem;
            background-color: #000;
        }
    
        &::-webkit-scrollbar-track {
            background: #fff;
        }
    
        &::-webkit-scrollbar-thumb {
            background-color: #ff304f ;
            border-radius: 6px;
            border: 3px solid #fff;
        }
    }

    .edit-bottom {
        display: flex;
        justify-content: space-between;
        background-color: $redBase;
        height: 4rem;
        width: 45rem;
        padding: 0rem 5rem;
        border-radius: 0rem 0rem 3rem 3rem;
    }

}

@media only screen and (max-width: 600px) {
    .edit-profile-container {
        margin-top: 2rem;
        width: 34rem;
        
        .edit-top, .edit-content, .edit-bottom {
            width: 34rem;
        }

        .edit-content {
            input {
                width: 20rem;
            }
        }
    }
}