.parallax-container {
    position: sticky;
    top: 0;
    left: 12%;
    width: 18%;
    height: 2000px;
    max-height: 50px;
    z-index: 0;
    order: 1;

    div {
        height: 4200px;
    }
}

.parallax-container-right{
    position: sticky;
    top: 0;
    width: 18%;
    height: 2000px;
    max-height: 50px;
    z-index: 0;
    transition: all 1s ease;
    order: 3;

    div {
        height: 4200px;
    }

    .empty-div {
        height: 2100px;
    }
}