@import '../../../../../scss/colors.scss';

.post-map-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 16;
    left: 0;
    top: 0;
}

.post-map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 50%;
    height: 76%;
    background-color: #fff;
    z-index: 17;
    border-radius: 3rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .post-map-title {
        text-align: center;
        padding: 2rem 0rem;
        color: #fff;
        width: 100%;
        background-color: $redBase;
        border-radius: 3rem 3rem 0rem 0rem;
    }

    .post-map-close {
        position: absolute;
        top: 1.7rem;
        right: 2.5%;
        color: #000;
        padding: 0rem 1rem;
        font-size: 1.5rem;
        font-weight: 700;
        background-color: #fff;
        border: none;
        border-radius: 1.1rem;
        outline: none;
        width: 2.9rem;
        height: 2.9rem;
    }

    .post-map {
        width: 100%;
        height: 80%;
    }

    .post-map-bottom {
        width: 100%;
        height: 4.4rem;
        background-color: $redBase;
        border-radius: 0rem 0rem 3rem 3rem;
    }

    .H_ib_body{
        max-height: 25rem;
        overflow-y: scroll;
        img {
            margin-top: 1rem;
            width: 20rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #ff304f ;
            border-radius: 6px;
            border: 3px solid #fff;
        }
      }
}

@media only screen and (max-width: 600px) {
    .post-map-container {
        width: 90%;
        top: 55%;

        .H_ib_body{
            max-height: 22rem;
            img {
                margin-top: 1rem;
                width: 16rem;
            }
        }
    }
}