.comment-container {
    background-color: rgb(230, 230, 230);
    margin: 1rem 2rem;
    padding: 1rem 1.5rem;
    border-radius: 2rem;

    .comment-top {
        display: flex;
        align-items: center;

        p {
            font-size: 1.4rem;
            font-weight: 500;
        }

        img {    
            width: 3rem;
            margin-right: 1rem;
            padding: 0.3rem;
            background-color: black;
            border-radius: 1rem;
        }
    }

    .comment-content {
        margin: 1rem 2rem;

        p {
            font-size: 1.3rem;
            font-weight: 300;
        }
    }

    .comment-bottom {
        display: flex;
        align-items: center;

        p {
            font-size: 1.3rem;
            font-weight: 500;
            margin: 0rem 1rem;
        }

        .comment-alter {
            display: flex;
        }
    }
}