.mobile-button {
    display: none;
    position: fixed;
    top: 1.5rem;
    right: 40%;
    border: none;
    border-radius: 2rem;
    outline: none;
    width: 8rem;
    height: 4rem;
    z-index: 20;
    font-size: 1.4rem;
}

.menu-open {
    background-color: #000;
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .mobile-button {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
