.mobile-button {
    display: none;
    position: fixed;
    top: 9rem;
    right: 1rem;
    background-color: #fff;
    border: none;
    border-radius: 2rem;
    outline: none;
    width: 6rem;
    height: 6rem;
    z-index: 20;

    img {
        width: 6.5rem;
        height: 6.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .mobile-button {
        display: flex;
    }
}
