.profile-user {
    margin: 3rem 0rem 3rem 9rem;
    width: 55rem;
    height: 55rem;

    .profile {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 153, 153, 0.2);
        border-radius: 3rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.5);
        width: 33rem;
        height: 55rem;
        margin: 0rem 0rem 0rem 5rem;
        padding: 11.2rem 2rem;

        .user-image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13rem;
            height: 13rem;
            background-color: #000;
            border-radius: 50%;
    
            img {
                width: 10rem;
            }
        }
    
        .user-name {
            margin: 2rem 0rem;
            font-size: 2.5rem;
            color: #fff;
        }
    
        .user-country {
            font-size: 1.2rem;
            color: #fff;
        }
    
        .user-edit {
            font-size: 1.5rem;
            margin-top: 2rem;
            width: 18rem;
            height: 4rem;
            margin-bottom: 4rem;
            border: none;
            outline: none;
            border-radius: 2rem;
            color: black;
            background-color: #fff;
        }
    }
}


@media only screen and (max-width: 600px) {
    .profile-user {
        margin: 3rem auto;
        width: 100%;

        .profile {
            position: initial;
            margin: auto;
        }
    }
}