.sign-in-container {
    position: relative;
    width: 100rem;

    .form-container {
        position: absolute;
        background-color: rgba(80, 12, 21, 0.63);
        padding: 3rem 2rem;
        top: 13.5rem;
        left: 19rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
        color: #fff;

        label {
            font-size: 1.7rem;
            font-weight: 300;
            margin-bottom: 0.5rem;
        }

        input {
            font-size: 1.5rem;
            width: 22rem;
            padding: 0.3rem 1rem;
            border: none;
            border-radius: 1rem;
            outline: none;
            margin-bottom: 2rem;
        }

        button {
            margin-top: 2rem;
        }

        .form-link {
            color: #fff;
            font-size: 1.1rem;
            font-weight: 700;
        }
    }
}

@media only screen and (max-width: 600px) {
    .sign-in-container {
        width: 35rem;

        .form-container {    
            top: 8.5rem;
            left: 3.5rem;
        }
    }
}