.map {
    margin-top: 7rem;

    .map-container {
        height: calc(100vh - 7rem);
        width: 100%;
    
        .H_ib_body{
            img {
                margin-top: 1rem;
                width: 20rem;
            }
          }
    }
}


.map-control {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 20rem;
    position: fixed;
    background-color: black;
    color: white;
    top: 10rem;
    right: 10rem;
    z-index: 10;
}