@import '../../scss/colors.scss';

.profile-page {
    display: flex;
    margin-top: 7rem;
    height: fit-content;
    overflow: hidden;
    background-color: $darkGray;

    .profile-container {
        display: flex;
        width: 45%;
        flex-direction: column;
        align-items: center;
        background-color: $lightGray;
        margin: 3rem auto 2rem auto;
        border-radius: 3rem;
        

        .profile-no-posts {
            margin: 50% 0;

            .top {
                width: 40rem;
                padding: 0rem 2.5rem;
                height: 4rem;
                background-color: #e11f3c;
                border-radius: 3rem 3rem 0rem 0rem;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40rem;
                height: 10rem;
                background-color: #fff;

                p {
                    font-size: 1.6rem;
                    font-weight: 500;
                    margin: 0.3rem 0rem;
                }
            }
            
            .bottom {
                width: 40rem;
                padding: 0rem 2.5rem;
                height: 4rem;
                background-color: #e11f3c;
                border-radius: 0rem 0rem 3rem 3rem;
            }
        }
    }

    .profile-background {
        position: fixed;
        top: 0;
        z-index: -10;
        width: 100%;
        height: 100vh;
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;
    }

    .details-container {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        height: 80vh;

        .news-content {
            background-color: rgba(255, 153, 153, 0.2);
            width: 36rem;
            height: 59rem;
            margin-right: 4rem;
            margin-top: 8rem;
            border-radius: 3rem;
        }
    }
}

.profile-background {
    position: fixed;
    top: 0;
    z-index: -10;
    width: 100%;
    height: 100vh;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none;
}

@media only screen and (max-width: 600px) {
    .profile-page {
        flex-direction: column;

        .profile-container {
            .title {
                padding: 1.5rem 25%;
            }

            .profile-no-posts {
                margin: 10% 0;

                .top, .content, .bottom {
                    width: 33rem;
                }
            }
        }

        .details-container {
            display: none;
        }
    }
}
