.post-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 240, 240);
    width: 40rem;
    border-radius: 3rem;
    margin: 3rem;

    .post-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40rem;
        padding: 0rem 2.5rem;
        height: 6rem;
        background-color: #ff304f;
        border-radius: 3rem 3rem 0rem 0rem;
        
        .post-user {
            display: flex;
            align-items: center;

            .post-user-icon {
                width: 4rem;
            }
    
            p {
                color: white;
                padding: 0rem 1rem;
                font-size: 1.5rem;
                font-weight: 700;
            }
        }

        .bookmark-button {
            width: 4rem;
            background-color: transparent;
            border: none;
            outline: none;

            img {
                width: 4rem;
            }

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .post-content {
        display: flex;
        flex-direction: column;
        width: 40rem;

        h1 {
            margin-top: 1rem;
            margin-left: 1rem;
            font-size: 2.5rem;
        }

        p {    
            margin: 0rem 0.5rem;
            font-size: 1.2rem;
        }

        h1, p {
            padding: 1rem 1.5rem;
        }

        .post-location {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;

            .location-text, .category-text{
                display: flex;
                align-items: center;
                
                img {
                    padding-left: 1.5rem;
                    width: 3.5rem;
                }

                p {
                    padding: 1rem 0rem;
                }
            }

            .category-text {
                margin-right: 2rem;
            }

            button {
                margin-left: 2rem;
                font-size: 1.2rem;
                border: none;
                outline: none;
                border-radius: 0.6rem;
                background-color: #fff;
                cursor: pointer;

                &:hover { 
                    transform: scale(1.05);
                }
            }
        }

        .post-image {
            width:38rem;
            border-radius: 1rem;
            margin: 2rem 1rem 0rem 1rem;
        }
    }

    .post-bottom {
        display: flex;
        flex-direction: column;
        width: inherit;

        .post-bottom-text {
            display: flex;
            justify-content: space-between;
            height: 5.2rem;

            p, button {
                margin: auto 0;
                font-size: 1.4rem;
                padding: 0rem 5rem;
            }

            button {
                background-color: transparent;
                cursor: pointer;
                border: none;
                outline: none;
            }
        }

        .post-functions {
            display: flex;
            flex-direction: column;
            background-color: #ff304f;
            border-radius: 0rem 0rem 2rem 2rem;

            .post-bottom-buttons {
                display: flex;
                justify-content: space-between;
                background-color: #ff304f;
                height: 5.5rem;
                width: 40rem;
                padding: 0rem 5rem;
                border-radius: 0rem 0rem 3rem 3rem;
                
                button {
                    border: none;
                    padding: 1rem;
                    background-color: #ff304f;
                    font-weight: 700;
                    outline: none;
                    
                    img {
                        width: 3.5rem;
                    }
    
                    &:hover {
                        img{
                            transform: scale(1.25);
                        }
                    }
                }
            }
        }
    }

}


.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 100;
}


@media only screen and (max-width: 600px) {
    .post-container {
        width: 33rem;

        .post-top, .post-content {
            width: 33rem;
        }

        .post-content {
            .post-image {
                width: 31rem;
            }
        }

        .post-bottom {
            .post-functions {
                .post-bottom-buttons {
                    width: 33rem;
                    padding: 0rem 3.5rem;
                }
            }
        }
    }
}
