@import '../../scss/colors.scss';

.navbar-container {
    position: sticky;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: $darkBase;
    z-index: 15;
    box-shadow: 0rem 0rem 0.9rem 0.1rem #bfbfbf;
    border-bottom: 0.8px solid #2b0006;

    .navbar-logo {
        img {
            margin: 0.4rem 2.5rem;
            width: 10rem;
    
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .navbar-sign-out {
        margin: 0.4rem 2.5rem;

        button {
            width: 8rem;
            height: 4rem;
            border: none;
            border-radius: 1.7rem;
            font-size: 1.4rem;
        }
    }
}