.search-container {
    input {
        background-color: white;
        border: none;
        outline: none;
        border-radius: 2rem;
        width: 28rem;
        height: 3.4rem;
        padding: 0rem 1.8rem;
    }
}