.replies-container {
    position: relative;

    .reply-create {
        display: flex;
        justify-content: flex-start;
        position: relative;
        margin-top: 0.5rem;
        padding: 0rem 1.5rem;
    
        textarea {
            resize: none;
            border: none;
            border-radius: 1rem;
            outline: none;
            width: 100%;
            min-height: 3rem;
            padding: 0.8rem 4.5rem 0.5rem 2rem;
            margin: 0.5rem 0rem 1rem 0rem;
            font-size: 1.7rem;
    
            &::-webkit-scrollbar{
                width: 0.8rem;
                background-color: #000;
            }
        
            &::-webkit-scrollbar-track {
                background: #fff;
            }
        
            &::-webkit-scrollbar-thumb {
                background-color: #ff304f ;
                border-radius: 6px;
                border: 3px solid #fff;
            }
        }
    
        button {
            position: absolute;
            top: 1.1rem;
            right: 3.5rem;
            font-size: 2rem;
            border: none;
            outline: none;
            background-color: transparent;
            
            img {
                width: 2.5rem;
                height: 2.5rem;
            }
        }
    
        aside.emoji-picker-react {
            position: absolute;
            top: 5.6rem;
            right: 2.4rem;
            z-index: 11;
        }
    }
}

@media only screen and (max-width: 600px) {
    .replies-container {
        .reply-create {
            textarea {
                font-size: 1.5rem;
            }
        }
    }
}