.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 5.5rem;
    margin-bottom: 4rem;
    border-radius: 2rem;
    transition: all .1s ease-in-out;
    text-decoration: none;
    color: black;
    background-color: #fff;

    img {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1.5rem;
        padding: 0.5rem;
    }

    .profileImage {
        border-radius: 1rem;
        padding: 0;
        object-fit: cover;
        object-position: center right;
    }

    p {
        font-size: 1.6rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}