.menu-container {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 36rem;
    margin-left: 4rem;

    .menu {
        background-color: rgba(255, 153, 153, 0.2);
        padding: 2rem 5rem 0rem 5rem;
        border-radius: 3rem;
        width: 36rem;
        margin-top: 8rem;
        margin-left: 4rem;
        position: fixed;
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .menu-container {
        margin-left: 0rem;
        width: 100%;

        .menu {
            margin-top: 6.5rem;
            margin-left: 0rem;
            background-color: #FF2344;
        }
    }

    .menuOpen {
        display: block;
    }
}